.login-container {
	background-color: #30b6f8;
	height: 100vh;
	width: 100%;
}

.login-container .panel {
	width: 30%;
	height: 20vh;
	display: inline-block;
}

.vertically-center {
    position: relative;
	top: 50%;
	transform: translateY(-50%);
}