{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "plugins": ["jest"],
  "rules": {
    "semi": [2, "never"],
    "comma-dangle": ["error", "never"],
    "space-before-function-paren": "off",
    "react/prop-types": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "linebreak-style": "off",
    "import/extensions": "off",
    "no-use-before-define": ["error", { "variables": false }],
    "jsx-a11y/anchor-is-valid": "off"
  }
}