header {
	height: 10vh;
	background-color: #30b6f8;
}

.list-chats {
	height: 90vh;
	overflow-y: auto;
}

.current-chat {
	background-color: #e0e0e0;
	height: 80vh;
	overflow-y: auto;
}

.input-message {
	height: 10vh;
}

.parent-dashboard {
	overflow: hidden;
}